body {
	background-image: url("Trees.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
.bg {
	background-color: rgba(50, 50, 50, .65);
	-webkit-box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.65); 
	box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.65);
	border-radius: 10px;
}
a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
td.image {
	width: auto;
	height: auto;
	padding: 1vw;
}
img.image {
	width:13vw;
	height:auto;
	display: block;
	margin-right: -1vw;
}
.title {
	width:48vw;
	margin-top: 1%;
	margin-bottom: 0%;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
	font-family: helvetica;
	font-size: 3vw;
	letter-spacing: .5em;
	word-spacing: -.5em;
	color: white;
	font-weight: none;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: uppercase;
}

.links {
	margin-top: 1%;
	margin-bottom: 0%;
	font-family: verdana;
	font-size: 1.3vw;
	letter-spacing: .3em;
	word-spacing: -.3em;
	color: white;
	font-weight: none;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: uppercase;

}
.center {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-top: 1%;
	width: 70vw;
}

button {
	background-color:transparent;
  color: white;
  border:none;
  text-align: center;
  font-size: 1em
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.button:hover {
	background-color: rgba(255,255,255,.3);
}

.second {
    opacity: 0;
    -webkit-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}
.Main {
	padding:3%;
	opacity: 1;
	text-align: left;
	font-family: arial;
	font-size: 1em;
	color: white;
	line-height: 1.5em;
	font-weight: none;
	word-spacing: .05em;
	text-decoration: none;
	font-style: normal;
	font-variant: none;
	text-transform: none;

}

p.bodyTitle { 
	line-height:2.3vw;
	font-size: 2vw;
	font-family: verdana;
	text-align: center
}

p.bodySubTitle { 
	font-size: 1.6vw;
	text-align: center;
	font-family: verdana;
	font-style: italic;
}

div.body {
	margin-top: 5vw;
	padding:2%;
	text-align: left;
	font-family: arial;
	font-size: 1.6vw;
	color: white;
	line-height: 2vw;
	font-weight: none;
	word-spacing: .05em;
	text-decoration: none;
	font-style: normal;
	font-variant: none;
	text-transform: none;

}